<aside class="sidebar" [class.collapsed]="isCollapsed">

  <div class="sb-logo">
    <div class="sb-logo-icon"><i class="ti ti-school"></i></div>
    <div class="sb-logo-wrap">
      <div class="sb-logo-name">EduNetAdmin</div>
      <div class="sb-logo-sub">Espace Enseignant</div>
    </div>
  </div>

  <nav class="sb-nav">

    <a class="sb-item" routerLink="/enseignant/dashboard" routerLinkActive="active">
      <i class="ti ti-layout-dashboard"></i>
      <span class="sb-label">Tableau de bord</span>
    </a>

    <div class="divider"></div>
    <span class="sb-section">Pédagogie</span>

    <a class="sb-item" routerLink="/enseignant/examens" routerLinkActive="active">
      <i class="ti ti-file-description"></i>
      <span class="sb-label">Mes examens</span>
      <span class="sb-badge" *ngIf="counts.examens">{{ counts.examens }}</span>
    </a>

    <a class="sb-item" routerLink="/enseignant/classes" routerLinkActive="active">
      <i class="ti ti-book"></i>
      <span class="sb-label">Mes classes</span>
      <span class="sb-badge" *ngIf="counts.classes">{{ counts.classes }}</span>
    </a>

    <a class="sb-item" routerLink="/enseignant/etudiants" routerLinkActive="active">
      <i class="ti ti-users"></i>
      <span class="sb-label">Mes étudiants</span>
      <span class="sb-badge" *ngIf="counts.etudiants">{{ counts.etudiants }}</span>
    </a>

    <div class="divider"></div>
    <span class="sb-section">Suivi</span>

    <a class="sb-item" routerLink="/enseignant/statistiques" routerLinkActive="active">
      <i class="ti ti-chart-bar"></i>
      <span class="sb-label">Statistiques</span>
    </a>

    <div class="divider"></div>
    <span class="sb-section">Compte</span>

    <a class="sb-item" routerLink="/enseignant/profil" routerLinkActive="active">
      <i class="ti ti-user-circle"></i>
      <span class="sb-label">Mon profil</span>
    </a>

  </nav>

  <div class="sb-footer">
    <button class="toggle-btn" (click)="toggle()" [title]="isCollapsed ? 'Agrandir' : 'Réduire'">
      <i class="ti ti-chevrons-left"></i>
    </button>
    <div class="sb-user" routerLink="/enseignant/profil">
      <div class="avatar">{{ initiales }}</div>
      <div class="sb-user-info">
        <div class="sb-user-name">{{ enseignant.prenom }} {{ enseignant.nom }}</div>
        <div class="sb-user-role">Enseignant(e)</div>
      </div>
    </div>
  </div>

</aside>